/* Posicionamento */
.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #4864C0;
    max-height: 200px;
}

.logoBemol {
    max-width: 400px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 40px 0px 40px 140px;
}

h1 {
    color: #1D2F8A;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    width: 468px;
    height: 201px;
    margin-bottom: 20px;
}

.firstSection p {
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #1D2F8A;
    width: 396px;
    text-align: left;
    line-height: 21.6px;
    margin-bottom: 15px
}

.openAccountLink {
    height: auto;
    width: 336px;
    left: 10px;
    top: 329px;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    background-color: #FFC04A;
    color: #1D2F8A;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.secondSection {
    max-width: 1200px;
    max-height: 699px;
    margin: auto;
}

.secondSection h6 {
    width: 500px;
    color: #1D2F8A;
    margin-left: 45px;
}

.reginaImg {
    height: 570px;
    width: 570px;
}

.cardAdvantages {
    flex-wrap: wrap;
    max-width: 450px;
    max-height: 655px;
    justify-content: space-between;
}

.miniCard {
    width: 220px;
    margin: 5px auto;
}

.miniCard span {
    display: block;
    font-size: 10px;
    font-weight: 700px;
    line-height: 21px;
    text-align: center;
    color: #1D2F8A;
    max-width: 210px;
    height: 52px;
}