body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #4864C0;
    max-height: 200px;
}

.logoBemol{
    max-width: 400px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 40px 0px 40px 140px;
}